{% extends "base.html" %}

{% block content %}
<div class='row'>
    <div class='col-12 col-md-3'>
        {% include 'playlists/sidebar.html' %}

    </div>
    <div class='col-12 col-md-9'>
<h1>Add Playlist</h1>

{% include 'snippets/form_errors.html' %}

<form method="POST">
    <div>
        <label for="title">Title</label>
        <input type="text" name="title" id='title' placeholder='Your Video Title' value="{% if title %}{{ title }}{% endif %}">
    </div>

    
    <button type='submit'>Add Playlist</button>
    
</form>

</div>
</div>


{% endblock %} 


