{% extends "base.html" %}

{% block content %}

{{ host_id }}
{{ object }}



<div id='yt-video' data-video-id = "{{ host_id }}" data-start-time='0'></div>

<div><code>{{ object.render() }}</code></div>

<script>
    //youtube iframe API
    var youtubeVideoDiv = document.getElementById('yt-video')
    

    if (youtubeVideoDiv) {
        var player;
        var currentTime;
        var isPlaying;
        var defaultStartTime = 0;
        var initialStartTime =parseInt(youtubeVideoDiv.getAttribute("data-start-time")) || defaultStartTime;
        var monitorTimeOut;
        var monitorTimeInterval = 200;
        var videoId = youtubeVideoDiv.getAttribute("data-video-id")
        var watchEventEndpoint = "/api/events/watch"
        var timeSinceLastSaved =0;
        var timeIntervalForSave = 5000;

        function onYouTubeIframeAPIReady() {
            player = new YT.Player('yt-video', {
                    height: '390',
                    width: '640',
                    videoId: videoId,
                    playerVars: {
                        'modestBranding': 1,
                        'autoplay': 0,
                        'start': 0,
                        'playsinline': 1,
                        'controls': 1,
                    },
                    events: {
                        onReady: onPlayerReady,
                        onStateChange: onPlayerStateChange
                    }
            })
        };
}


    function onPlayerReady(event){
        player.seekTo(initialStartTime)
        //player.playVideo();
    }



    function monitorCurrentPlayback(){
        currentTime = player.getCurrentTime()
        timeSinceLastSaved += monitorTimeInterval
        if (isPlaying) {
            monitorTimeOut = setTimeout(monitorCurrentPlayback, monitorTimeInterval)
        }

        if (timeSinceLastSaved > timeIntervalForSave) {
           storeWatchEvent()
        }
    }


    function onPlayerStateChange(event) {
        
        if (event.data === YT.PlayerState.PLAYING){
            isPlaying = true
            monitorCurrentPlayback()
            
        }
        else if (event.data === YT.PlayerState.PAUSED){
            isPlaying = false
            clearTimeout(monitorTimeOut)
            monitorCurrentPlayback()
            storeWatchEvent()
        }
        else if (event.data === YT.PlayerState.ENDED){
            isPlaying = false
            clearTimeout(monitorTimeOut)
            monitorCurrentPlayback()
            storeWatchEvent()
        }
    }

    function storeWatchEvent(){
        var duration = player.getDuration()
        var data = {
            path: window.location.pathname,
            end_time: currentTime,
            start_time: initialStartTime,
            duration: duration,
            host_id: videoId,
            complete: (duration * .98) < currentTime
        }
        timeSinceLastSaved = 0;
       // console.log('saving...', data)

     // send POST data 
    // JSON ->
        var reqOptions = {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify(data)
        }
        fetch(watchEventEndpoint, reqOptions)
        .then(response=>response.json())
        .then(data=> { 
           // console.log("success", data)
        })
        .catch(err => {
            // fetch to an error catching endpoint
           // console.log('error: ', err )
        })
    }
    
    

</script>


{% endblock %}